<style type="text/css">
div content {width:1280px}
.form-style-7{
    max-width:1280px;
	min-width:60px;
    margin:50px auto;
    background:#ffff;
    border-radius:2px;
    padding:20px;
    font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
}
.form-style-7 h1{
    display: block;
    text-align: center;
    padding: 0;
    margin: 0px 0px 20px 0px;
    color: #5C5C5C;
    font-size:x-large;
	font-family: Arial, Helvetica, sans-serif;
}
.form-style-7 ul{
    list-style:none;
    padding:0;
    margin:0;  
}
.form-style-7 li{
    display: block;
    padding: 9px;
    border:3px solid #c6c6c6;
    margin-bottom: 30px;
    border-radius: 3px;
    /* <length> values 
    padding-left: 1.5em;
    text-indent:-1.5em;
  background: powderblue;*/

}


.form-style-7 li3{
    display: block;
    padding: 9px;
    border:3px solid #c6c6c6;
	background:#ffc9c9;
    margin-bottom: 30px;
    border-radius: 3px;
    /* <length> values 
    padding-left: 1.5em;
    text-indent:-1.5em;
  background: powderblue;*/

}
.form-style-7 li:last-child{
    border:none;
    margin-bottom: 0px;
    text-align: center;
}


.form-style-7 li > label{
    display: block;
    float: left;
    margin-top: -19px;
    background: #FFFFFF;
    height: 14px;
    padding: 1px 5px 5px 5px;
    color: #000000;
    font-size: 14px;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

.form-style-7 input[type="text"],
.form-style-7 input[type="date"],
.form-style-7 input[type="datetime"],
.form-style-7 input[type="email"],
.form-style-7 input[type="number"],
.form-style-7 input[type="search"],
.form-style-7 input[type="time"],
.form-style-7 input[type="url"],
.form-style-7 input[type="password"],
.form-style-7 textarea,
.form-style-7 select
{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    display: block;
    outline: none;
    border: none;
    height: 25px;
    line-height: 25px;
    font-size: 16px;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.form-style-7 input[type="text"]:focus,
.form-style-7 input[type="date"]:focus,
.form-style-7 input[type="datetime"]:focus,
.form-style-7 input[type="email"]:focus,
.form-style-7 input[type="number"]:focus,
.form-style-7 input[type="search"]:focus,
.form-style-7 input[type="time"]:focus,
.form-style-7 input[type="url"]:focus,
.form-style-7 input[type="password"]:focus,
.form-style-7 textarea:focus,
.form-style-7 select:focus
{
}
.form-style-7 li > span{
    background: #FFFFFF;
    display: block;
	float: left;
    padding: 3px;
    margin: 0 -9px -9px -9px;
    text-align: center;
    color: #989898;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
}

.form-style-7 textarea{
    resize:vertical;

}
.form-style-7 input[type="submit"],
.form-style-7 input[type="button"]{
    background: #B31B1B;
    border: none;
    padding: 10px 20px 10px 20px;
    border-bottom: 3px solid #ffb3b3;
    border-radius: 3px;
    color: #FFFFFF;
}
.form-style-7 input[type="reset"],
.form-style-7 input[type="button"]{
    background: #2471FF;
    border: none;
    padding: 10px 20px 10px 20px;
    border-bottom: 3px solid #5994FF;
    border-radius: 3px;
    color: #D2E2FF;
}
.form-style-7 input[type="submit"]:hover,
li { cursor: pointer; },
.form-style-7 input[type="button"]:hover{
    background: #ffb3b3;
    color:#fff;
}
.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.header {
  padding: 1px;
  text-align: center;
  background: #B31B1B;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}


.hide {
  display: none;
}
    
.myDIV:hover + .hide {
  display: block;
  color: red;
}

</style>